//global
//$host:'../pics/';
//$host: 'http://assets.aversio.com/resources/resellers/2/138/125/img/';
//media query
$media-xlg: 1500px; //120em
$media-lg: 1200px; //75em
$media-md: 992px; //62em
$media-sm: 768px; //48em
$media-xs: 544px; //34em


//fonts
// $font-1: ;
// $font-2: ;

//colors


//weights
$light:300;
$regular:400;
$semi-bold:600;
$bold:700;