$margin-top: 96px;

section {
    position: relative;
    clear: both;
    transform-style: preserve-3d;
}

body {
    background-color: #d3d0ca;
}

.banner {
    width: 100%;
    height: auto;

    // background-color: #d3d0ca;

    &.home-banner {
        // background-color: yellow;
    }

    .menu-container {

        padding: 192px;
    }

    .heading-restuarant {


        h1 {
            font-size: 8vw;
            font-family: 'Xanh Mono', monospace;
            line-height: 1;
            letter-spacing: 2.1rem;
            font-weight: 300;
        }

    }

    .prph-menu-container {

        height: 70vh;
        width: 67vw;

        .prgph-content {
            position: relative;
            width: 40%;
            float: right;

            p.para-styling {
                opacity: 1;
                transform: none;
                line-height: 1.5;
                justify-content: flex-end;
                font-size: 18px;
                font-family: 'Xanh Mono', monospace;
                color: #2e2f4a;
                margin: 18px;


            }
        }

        .bttn-style {


            margin-top: $margin-top;

            .btn {
                color: #efefef;
                font-size: 20px;
                width: 30%;
                height: 87px;
                background-color: #b19328;
                border: none;
                margin: 18px;
            }


        }
    }

    .images-collection {
        position: relative;

        // background-image: url("../static/jpg/photo-1414235077428-338989a2e8c0.jpeg");


        .fist-image {

            img {
                width: 27vw;
                top: 0;
                position: absolute;
                left: 0;
                z-index: 1;
            }
        }

        .scnd-image {
            width: 75%;
            height: 70vh;
            /* position: relative; */
            overflow: hidden;
            z-index: -1;
            float: right;

            z-index: -1;
            margin-top: $margin-top;

            img {
                transition: opacity 1.2s cubic-bezier(.215, .61, .355, 1), transform 1.2s cubic-bezier(.215, .61, .355, 1);
                width: 100%;
                height: 100%;
                position: relative;
            }
        }
    }
}